<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="sdlcRDLCReport.Properties.Settings.SMR_KMS_DB_DevConnectionString" connectionString="Data Source=172.29.57.76;Initial Catalog=SMR_KMS_DB_Dev;Persist Security Info=True;User ID=sa;Password=Microsoft#1234" providerName="System.Data.SqlClient" />
    <add name="SMR_KMS_DB_DevEntities" connectionString="metadata=res://*/DataStorage.csdl|res://*/DataStorage.ssdl|res://*/DataStorage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.57.76;initial catalog=SMR_KMS_DB_Dev;persist security info=True;user id=sa;password=Microsoft#1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>